button {
  margin-bottom: 30px;
}

.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
}

.toggledElement {
  background-color: paleturquoise;
  padding: 10px;
}

.reactSpring {
  width: 50%;
  padding: 3vw;
}
.reactTG {
  width: 50%;
  padding: 3vw;
}
